<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>React boilerplate</title>
  </head>
  <body>
    <div id="root">
      <div class="left-scene">
        <div class="form-search">
          <div class="selected-gif">

          </div>
        </div>
      </div>
      <div class="right-scene">
        <div class="gif-list">

        </div>
      </div>
    </div>
  </body>
</html>
